{% extends 'core/base.html' %}

{% block content %}
<main class="py-3 text-left container">
<div class="row">
    <div class="mx-auto">
        <div class="rounded shadow">
            {% include 'forms/includes/navbar_back.html' %}
            <article class="container pb-3">
                <p class="text-end mb-0">Принято Ученым советом СУНЦ</p>
                <p class="text-end lh-sm">протокол № 10 от 16 декабря 2021 года</p>

                <p class="text-center mb-0 lead">Учебный план для 10-11 класса.</p>
                <p class="text-center lh-sm mb-0">Направление подготовки: Точные науки. Профиль подготовки: Физико-математический.</p>
                <p class="text-center lh-sm">Углубленные предметы: математика, физика, информатика.</p>
                
                {% if error %}<div class="alert alert-danger mb-3">{{ error }}</div>{% endif %}
                
                <form method="post">
                    {{ form.slug }} <!-- ID сессии -->
                    {% csrf_token %}
                    <div class="mb-4">
                        <p class="mb-0">Обучающийся</p>
                        {{ form.name }}
                        <small class="text-secondary">Ф.И.О. полностью в именительном падеже</small>
                    </div>

                    <p class="mb-4 lead">Срок реализации учебного плана с "1" сентября 2022 до "31" мая 2024</p>

<div id="table">
    <article class="mb-5">
        {% include 'forms/includes/article_1.html' %}

        <table class="table table-bordered text-center align-middle table-sm">
            <tbody>
                <tr>
                    <td colspan="2">&nbsp;</td>
                    <td colspan="3"><strong>Количество часов</strong></td>
                    <td colspan="3"><strong>Формы аттестации</strong></td>
                </tr>

                <tr>
                    <td>Предметные области</td>
                    <td>Предметы (уровень освоения: <mark>Б - базовый</mark>, <mark>У - углубленный</mark>)</td>
                    <td>в неделю (10 класс)</td>
                    <td>в неделю (11 класс)</td>
                    <td>за два года (70 учебных недель)</td>
                    <td>Текущая аттетсация</td>
                    <td>Промежуточная аттестация: зимняя и летняя сессии</td>
                    <td>Итоговая аттестация</td>
                </tr>

                <tr>
                    <td colspan="8" class="table-warning lead">Блок 1: обязательные учебные предметы</td>
                </tr>

                <tr>
                    <td rowspan="2">Русский язык и литература</td>
                    <td>Русский язык (Б)</td>
                    <td colspan="2">1</td>
                    <td>70</td>
                    <td rowspan="12">отметка</td>
                    <td class="table-secondary" rowspan="5"></td>
                    <td>ЕГЭ</td>
                </tr>

                <tr>
                    <td>Литература (Б)</td>
                    <td colspan="2">3</td>
                    <td>210</td>
                    <td>по выбору</td>
                </tr>

                <tr>
                    <td>Родной язык и родная литература</td>
                    <td>Родной русский язык (Б)</td>
                    <td colspan="2">1</td>
                    <td>70</td>
                    <td class="table-secondary"></td>
                </tr>

                <tr>
                    <td>Иностранные языки</td>
                    <td>Иностранный язык (Б)</td>
                    <td colspan="2">3</td>
                    <td>210</td>
                    <td rowspan="2">по выбору</td>
                </tr>

                <tr>
                    <td>Общественные науки</td>
                    <td>История (Б)</td>
                    <td colspan="2">2</td>
                    <td>140</td>
                </tr>

                <tr>
                    <td rowspan="2">Математика и информатика</td>
                    <td class="table-success">Математика: алгебра и начала математического анализа, геометрия (У)</td>
                    <td colspan="2">6</td>
                    <td>420</td>
                    <td rowspan="3">экзамен</td>
                    <td>ЕГЭ</td>
                </tr>

                <tr>
                    <td class="table-success">Информатика (У)</td>
                    <td colspan="2">4</td>
                    <td>280</td>
                    <td rowspan="2">по выбору</td>
                </tr>

                <tr>
                    <td rowspan="2">Естественные науки</td>
                    <td class="table-success">Физика (У)</td>
                    <td colspan="2">5</td>
                    <td>350</td>
                </tr>

                <tr>
                    <td>Астрономия (Б)*</td>
                    <td>0</td>
                    <td>1</td>
                    <td>35</td>
                    <td colspan="2" rowspan="4" class="table-secondary"></td>
                </tr>

                <tr>
                    <td rowspan="2">Физическая культура, экология и ОБЖ</td>
                    <td>Физическая культура (Б)</td>
                    <td colspan="2">2</td>
                    <td>140</td>
                </tr>

                <tr>
                    <td>Основы безопасности жизнедеятельности (Б)**</td>
                    <td colspan="2">1</td>
                    <td>70</td>
                </tr>

                <tr>
                    <td colspan="2">Индивидуальный проект ***</td>
                    <td colspan="2">1</td>
                    <td>70</td>
                </tr>

                <tr class="table-danger">
                    <td colspan="2">Всего часов Блок 1</td>
                    <td>29</td>
                    <td>30</td>
                    <td>1995</td>
                    <td colspan="3"></td>
                </tr>

                <tr class="table-warning">
                    <td colspan="2"><b>Доступно часов для выбора учебных предметов по выбору и элективных курсов</b></td>
                    <td>8</td>
                    <td>7</td>
                    <td colspan="4"></td>
                </tr>
            </tbody>
        </table>
    </article>

    <article class="mb-5">
        {% include 'forms/includes/article_2.html' %}

        <table class="table table-bordered text-center align-middle table-sm">
            <tbody>
                <tr>
                    <td colspan="2">&nbsp;</td>
                    <td colspan="3"><strong>Количество часов</strong></td>
                    <td colspan="3"><strong>Формы аттестации</strong></td>
                </tr>

                <tr>
                    <td>Предметные области</td>
                    <td>Предметы (уровень освоения: <mark>Б - базовый</mark>, <mark>У - углубленный</mark>)</td>
                    <td>в неделю (10 класс)</td>
                    <td>в неделю (11 класс)</td>
                    <td>за два года (70 учебных недель)</td>
                    <td>Текущая аттетсация</td>
                    <td>Промежуточная аттестация: зимняя и летняя сессии</td>
                    <td>Итоговая аттестация</td>
                </tr>

                <tr>
                    <td colspan="8" class="table-warning lead">Блок 2: часть, формируемая участниками образовательных отношений</td>
                </tr>

                <tr>
                    <td colspan="8" class="table-warning lead">Учебные предметы по выбору</td>
                </tr>

                <tr>
                    <td rowspan="4">Общественные науки</td>
                    <td>Обществознание (Б)</td>
                    <td colspan="2">{{ form.d1 }} 2 ч.</td>
                    <td>140</td>
                    <td rowspan="6">отметка</td>
                    <td class="table-secondary" rowspan="6"></td>
                    <td rowspan="2">по выбору</td>
                </tr>

                <tr>
                    <td>География (Б)</td>
                    <td colspan="2">{{ form.d2 }} 1 ч.</td>
                    <td>70</td>
                </tr>

                <tr>
                    <td>МХК (Б)</td>
                    <td colspan="2">{{ form.d3 }} 1 ч.</td>
                    <td>70</td>
                    <td class="table-secondary" rowspan="2"></td>
                </tr>

                <tr>
                    <td>Теория познания (Б)</td>
                    <td colspan="2">{{ form.d4 }} 1 ч.</td>
                    <td>70</td>
                </tr>

                <tr>
                    <td rowspan="2">Естественные науки</td>
                    <td>Биология (Б)</td>
                    <td colspan="2">{{ form.d5 }} 1 ч.</td>
                    <td>70</td>
                    <td rowspan="2">по выбору</td>
                </tr>

                <tr>
                    <td>Химия (Б)</td>
                    <td colspan="2">{{ form.d6 }} 2 ч.</td>
                    <td>140</td>
                </tr>

                <tr>
                    <td colspan="8" class="table-warning lead">Элективные курсы</td>
                </tr>
                
                <tr>
                    <td>Математика и информатика</td>
                    <td class="table-success">Решение сложных задач по математике</td>
                    <td colspan="2">
                        <input type="checkbox" class="form-check-input" disabled checked> 2 ч.
                    </td>
                    <td>140</td>
                    <td rowspan="4">отметка</td>
                    <td class="table-secondary" rowspan="4" colspan="2"></td>
                </tr>

                <tr>
                    <td rowspan="3">Естественные науки</td>
                    <td class="table-success">Физические задачи повышенной сложности</td>
                    <td colspan="2">
                        <input type="checkbox" class="form-check-input" disabled checked> 2 ч.
                    </td>
                    <td>140</td>
                </tr>

                <tr>
                    <td>Астрономия</td>
                    <td>{{ form.d7 }} 1 ч.</td>
                    <td>0 ч.</td>
                    <td>35</td>
                </tr>

                <tr>
                    <td>Избранные главы учебников естественных наук</td>
                    <td colspan="2">{{ form.d8 }} 2 ч.</td>
                    <td>140</td>
                </tr>

                <tr class="table-danger lead">
                    <td colspan="2">Всего минимальная недельная нагрузка</td>
                    <td colspan="2">31</td>
                    <td>2170</td>
                    <td colspan="3"></td>
                </tr>

                <tr class="table-primary lead" id="ext">
                    <td colspan="2" id="ext-info">Текущая недельная нагрузка</td>
                    <td id="ext1">33</td>
                    <td id="ext2">34</td>
                    <td id="ext3">2345</td>
                    <td colspan="3"></td>
                </tr>


                <tr class="table-danger lead">
                    <td colspan="2">Всего максимальная недельная нагрузка</td>
                    <td colspan="2">37</td>
                    <td>2590</td>
                    <td colspan="3"></td>
                </tr>
            </tbody>
        </table>
    </article>

    <article>
        {% include 'forms/includes/article_3.html' %}
        {% include 'forms/includes/table_3.html' %}
    </article>
</div>

                    <p class="small mb-4 text-secondary">* ** *** Предметы "Астрономия", "Основы безопасности жизнедеятельности", "Индивидуальный проект"  преподаются с использованием дистанционных форм обучения, обеспечены консультационными часами и не являются аудиторной нагрузкой.</p>

                    <div class="mb-3 form-check">
                        {{ form.subm }}
                        <label class="form-check-label">С учебным планом ознакомлен, с условиями его выполнения согласен. Согласен(-а) с политикой конфиденциальности.</label>
                        <a href="{% url 'terms' %}" target="_blank" class="small text-secondary">Подробнее</a>
                    </div>
                    
                    <button type="submit" class="btn btn-primary" id="sbm-btn">Отправить</button>
                </form>
            </article>
        </div>
    </div>
</div>
</main>


<script>
    // JS <3
    for (let i = 1; i <= 8; i++) {
        document.getElementById(`id_d${i}`).onclick = function () {
            let d1 = Number(document.getElementById('id_d1').checked) * 2;
            let d2 = Number(document.getElementById('id_d2').checked);
            let d3 = Number(document.getElementById('id_d3').checked);
            let d4 = Number(document.getElementById('id_d4').checked);
            let d5 = Number(document.getElementById('id_d5').checked);
            let d6 = Number(document.getElementById('id_d6').checked) * 2;
            let d7 = Number(document.getElementById('id_d7').checked);
            let d8 = Number(document.getElementById('id_d8').checked) * 2;
            let ext = d1 + d2 + d3 + d4 + d5 + d6 + d8 + 29 + 4;
            document.getElementById("ext1").textContent = ext + d7;
            document.getElementById("ext2").textContent = ext + 1;
            document.getElementById("ext3").textContent = (ext + ext + 1 + d7) * 35;
            if ((ext < 31) || (ext + 1 > 37)) {
                document.getElementById("ext").className = "table-dark lead";
                document.getElementById("sbm-btn").className = "btn btn-primary disabled";
                document.getElementById("ext-info").textContent = "Неверное количество часов нагрузки";
            } else {
                document.getElementById("ext").className = "table-primary lead";
                document.getElementById("sbm-btn").className = "btn btn-primary";
                document.getElementById("ext-info").textContent = "Текущая недельная нагрузка";
            }
        }
    }
</script>

{% endblock %}
