{% extends 'core/base.html' %}

{% block content %}
{% include 'core/navbar.html' %}
<main class="container">

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Создать учебный план</h1>
            <p class="lead text-muted">Выберите вашу специализацию, заполните необходимую информамию, с помощью встроенного инструмента подготовьте файл к печати. Для заполнения формы рекомендуем использовать устройство с большим монитором</p>
            <div class="row">
                <div class="col">
                    <ul class="list-unstyled">
                        <li><a href="{% url '10gum' %}" class="lead text-decoration-none">10 гум</a></li>
                        <li><a href="2" class="lead text-decoration-none">10 соцгум</a></li>
                        <li><a href="3" class="lead text-decoration-none">10 соцэк</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="list-unstyled">
                        <li><a href="4" class="lead text-decoration-none">10 матинф</a></li>
                        <li><a href="5" class="lead text-decoration-none">10 физмат</a></li>
                        <li><a href="6" class="lead text-decoration-none">10 физтех</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="list-unstyled">
                        <li><a href="7" class="lead text-decoration-none">10 хим</a></li>
                        <li><a href="8" class="lead text-decoration-none">10 био</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

</main>
{% endblock %}