<table class="table table-bordered text-center align-middle table-sm">
    <tbody>
        <tr>
            <td rowspan="2">&nbsp;</td>
            <td colspan="2"><strong>Количество часов</strong></td>
        </tr>

        <tr>
            <td>в неделю (10 класс)</td>
            <td> в неделю (11 класс)</td>
        </tr>

        <tr>
            <td colspan="3" class="table-warning lead">Блок 3: внеурочная деятельность (выбрать не более 10 часов в неделю)</td>
        </tr>
        
        <tr>
            <td>Всего часов внеурочной деятельности</td>
            <td>10</td>
            <td>10</td>
        </tr>

        <tr class="table-danger lead">
            <td>Всего максимальная недельная нагрузка</td>
            <td>47</td>
            <td>47</td>
        </tr>

    </tbody>
</table>