{% extends 'core/base.html' %}
{% load static %}

{% block head_extra %}
<style>
    @media screen {
        #main-background {
            background-color: #D8CDCB;
            height: auto;
            height: 75vh;
            max-height: 1080px;
            width: 100%;
        }
        .mb-6 {
            margin-bottom: 6rem!important;
        }
    }
    @media (max-width: 970px) {
        #main-background {
            height: auto;
        }
        .mb-6 {
            margin-bottom: 4rem!important;
        }
    }
    .item-1 {
        background-color: #9E9494;
    }
    .item-2 {
        background-color: #AEA4A4;
    }
    .item-3 {
        background-color: #BEB4B4;
    }
    .item {
        border-radius: 0.7em;
        padding: 2em;
        -webkit-box-shadow: 0 0 0 3px #fff inset;
        -moz-box-shadow: 0 0 0 3px #fff inset;
        box-shadow: 0 0 0 3px #fff inset;
    }
</style>
{% endblock %}

{% block content %}
<table class="text-white" id="main-background" style="background-attachment: fixed; background-image: url({% static 'core/img/books.jpg' %});">
    <tr>
        <td class="align-bottom" style="backdrop-filter: blur(8px) brightness(75%);">
            <div class="container mb-6 mt-5">
                <h1 class="display-3 mb-0">Сформируй</h1> 
                <p class="lead mt-0">свой индивидуальный образовательный маршрут, создав учебный план</p>
            </div>
        </td>
    </tr>
</table>

<section class="container mt-5 mb-5">
    <p class="lead" style="font-size: 170%; line-height: 0.99;">Выберите свой профиль подготовки и заполните необходимую информацию</p>
    <p style="line-height: 0.99;">(для заполнения формы рекомендуем использовать устройство с большим монитором)</p>
</section>

<section class="container mb-4">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3">
        {% for form in forms %}
        <a class="container text-center lead text-white item item-{% cycle '1' '2' '3' '2' %}" href="{% url form.0 %}" style="text-decoration: none;">
            {{ form.1 }}
        </a>
        {% endfor %}
    </div>
</section>

{% endblock %}