{% extends 'core/base.html' %}

{% block content %}
{% include 'core/navbar.html' %}
<main class="container">

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Создать учебный план</h1>
            <p class="lead text-muted">Выберите свой профиль подготовки и заполните необходимую информацию. Для заполнения формы рекомендуем использовать устройство с большим монитором</p>
            <div class="row row-cols-1 mt-3">
                <div class="col">
                    <a href="{% url '10gum' %}" class="lead text-decoration-none">10 гуманитарный</a>
                </div>

                <div class="col">
                    <a href="{% url '10sgum' %}" class="lead text-decoration-none">10 социально-гуманитарный</a>
                </div>

                <div class="col">
                    <a href="{% url '10socek' %}" class="lead text-decoration-none">10 социально-экономический</a>
                </div>

                <div class="col">
                    <a href="{% url '10matinf' %}" class="lead text-decoration-none">10 математико-информационный</a>
                </div>

                <div class="col">
                    <a href="{% url '10fizmat' %}" class="lead text-decoration-none">10 физико-математический</a>
                </div>

                <div class="col">
                    <a href="{% url '10fiztech' %}" class="lead text-decoration-none">10 физико-технический</a>
                </div>

                <div class="col">
                    <a href="{% url '10him' %}" class="lead text-decoration-none">10 химический</a>
                </div>

                <div class="col">
                    <a href="8" class="lead text-decoration-none">10 биологический</a>
                </div>
            </div>
        </div>
    </div>
</section>

</main>
{% endblock %}