{% extends 'core/base.html' %}

{% load static %}

{% block title %}Учебный план для 10-11 классов.{% endblock %}

{% block disable_bootstrap %}{% endblock %}

{% block head_extra %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
<style>
td {padding: 4px;}
p, #table tr, #table td, body, html, article, div {margin: 0 !important; padding: 0 !important;}
code {font-family: 'Space Mono', monospace;}
table {
    border-collapse: collapse;
    border: 1px solid black;
}
#table {
    font-size: 80%;
    width: 100%;
}
table td {border: 1px solid rgb(133, 133, 133);}
.text-center {text-align: center;}
</style>
{% endblock %}

{% block content %}
<div id="printable">
    <article>
        <div class="text-center">
            <p><strong>Учебный план для 10-11 классов.</strong></p>
            <p>Направление подготовки: Гуманитарные науки. Профиль подготовки: <b>Социально-экономический</b>.</p>
            <p>Углубленные предметы: иностранный язык, математика, обществознание (право, экономика).</p>
            <p>Срок реализации учебного плана с "1" сентября 2022 до "31" мая 2024</p>
        </div>
        <div>
            <p>Обучающийся: <strong>{{ form.name }}</strong></p>
            <p>ID: <code>{{ form.slug }}</code></p>
        </div>
    </article>
    
    <div id="table">
        <table class="table-bordered text-center">
            <tbody>
                <tr>
                    <td colspan="2">&nbsp;</td>
                    <td colspan="3"><strong>Количество часов</strong></td>
                    <td colspan="3"><strong>Формы аттестации</strong></td>
                </tr>

                <tr>
                    <td>Предметные области</td>
                    <td>Предметы (уровень освоения: Б - базовый, У - углубленный)</td>
                    <td>в неделю (10 класс)</td>
                    <td>в неделю (11 класс)</td>
                    <td>за два года (70 учебных недель)</td>
                    <td>Текущая аттетсатция</td>
                    <td>Промежуточная аттестация: зимняя и летняя сессии</td>
                    <td>Итоговая аттестация</td>
                </tr>

                <tr>
                    <td colspan="8" class="table-warning lead"><b>Блок 1: обязательные учебные предметы</b></td>
                </tr>

                <tr>
                    <td rowspan="2">Русский язык и литература</td>
                    <td>Русский язык (Б)</td>
                    <td>1</td>
                    <td>1</td>
                    <td>70</td>
                    <td rowspan="13">отметка</td>
                    <td>экзамен</td>
                    <td>ЕГЭ</td>
                </tr>

                <tr>
                    <td>Литература (Б)</td>
                    <td>3</td>
                    <td>3</td>
                    <td>210</td>
                    <td class="table-secondary">нет</td>
                    <td>по выбору</td>
                </tr>

                <tr>
                    <td>Родной язык и родная литература</td>
                    <td>Родной русский язык (Б)</td>
                    <td>1</td>
                    <td>1</td>
                    <td>70</td>
                    <td colspan="2" class="table-secondary">нет</td>
                </tr>

                <tr>
                    <td>Иностранные языки</td>
                    <td class="table-success">Иностранный язык (У)</td>
                    <td>6</td>
                    <td>6</td>
                    <td>420</td>
                    <td>экзамен</td>
                    <td rowspan="3">по выбору</td>
                </tr>

                <tr>
                    <td rowspan="4">Общественные науки</td>
                    <td>История (Б)</td>
                    <td>2</td>
                    <td>2</td>
                    <td>140</td>
                    <td class="table-secondary">нет</td>
                </tr>

                <tr>
                    <td>Обществознание (Б)</td>
                    <td>2</td>
                    <td>2</td>
                    <td>140</td>
                    <td rowspan="4">экзамен</td>
                </tr>

                <tr>
                    <td class="table-success">Право (У)</td>
                    <td>2</td>
                    <td>2</td>
                    <td>140</td>
                    <td class="table-secondary" rowspan="2">нет</td>
                </tr>

                <tr>
                    <td class="table-success">Экономика (У)</td>
                    <td>2</td>
                    <td>2</td>
                    <td>140</td>
                </tr>

                <tr>
                    <td>Математика и информатика</td>
                    <td>Математика: алгебра и начала математического анализа, геометрия (Б)</td>
                    <td>6</td>
                    <td>6</td>
                    <td>420</td>
                    <td>ЕГЭ</td>
                </tr>

                <tr>
                    <td>Естественные науки</td>
                    <td>Астрономия (Б)*</td>
                    <td>1</td>
                    <td>0</td>
                    <td>35</td>
                    <td colspan="2" rowspan="4" class="table-secondary">нет</td>
                </tr>

                <tr>
                    <td rowspan="2">Физическая культура, экология и ОБЖ</td>
                    <td>Физическая культура (Б)</td>
                    <td>2</td>
                    <td>2</td>
                    <td>140</td>
                </tr>

                <tr>
                    <td>Основы безопасности жизнедеятельности (Б)**</td>
                    <td>1</td>
                    <td>1</td>
                    <td>70</td>
                </tr>

                <tr>
                    <td colspan="2">Индивидуальный проект ***</td>
                    <td>1</td>
                    <td>1</td>
                    <td>70</td>
                </tr>

                <tr class="table-danger">
                    <td colspan="2">Всего часов Блок 1</td>
                    <td>30</td>
                    <td>29</td>
                    <td>1995</td>
                    <td colspan="3"></td>
                </tr>

                <tr><td colspan="8" class="table-warning"><strong>Блок 2: часть, формируемая участниками образовательных отношений</strong></td></tr>
    
                <tr><td colspan="8" class="table-warning">Учебные предметы по выбору</td></tr>
    
                <tr>
                    <td rowspan="3">Общественные науки</td>
                    <td>Теория познания (Б)</td>
                    <td id="d1">{{ form.d1 }}</td>
                    <td>{{ form.d1 }}</td>
                    <td id="d1_res"></td>
                    <td rowspan="5">отметка</td>
                    <td class="table-secondary" colspan="2" rowspan="2">нет</td>
                </tr>

                <tr>
                    <td>МХК (Б)</td>
                    <td id="d2">{{ form.d2 }}</td>
                    <td>{{ form.d2 }}</td>
                    <td id="d2_res"></td>
                </tr>

                <tr>
                    <td>География (Б)</td>
                    <td id="d3">{{ form.d3 }}</td>
                    <td>{{ form.d3 }}</td>
                    <td id="d3_res"></td>
                    <td class="table-secondary" rowspan="2">нет</td>
                    <td rowspan="2">по выбору</td>
                </tr>

                <tr>
                    <td>Математика и информатика</td>
                    <td>Информатика (Б)</td>
                    <td id="d4">{{ form.d4 }}</td>
                    <td>{{ form.d4 }}</td>
                    <td id="d4_res"></td>
                </tr>

                <tr>
                    <td>Естественные науки</td>
                    <td>Естествознание (Б)</td>
                    <td id="d5">{{ form.d5 }}</td>
                    <td>{{ form.d5 }}</td>
                    <td id="d5_res"></td>
                    <td colspan="2" class="table-secondary">нет</td>
                </tr>

                <tr>
                    <td colspan="8" class="table-warning lead">Элективные курсы</td>
                </tr>
                
                <tr>
                    <td rowspan="3">Общественные науки</td>
                    <td class="table-success">Экономическая география</td>
                    <td id="d6">{{ form.d6 }}</td>
                    <td>{{ form.d6 }}</td>
                    <td id="d6_res"></td>
                    <td rowspan="4">отметка</td>
                    <td class="table-secondary" rowspan="4" colspan="2">нет</td>
                </tr>

                <tr>
                    <td class="table-success">Экономические задачи повышенной сложности</td>
                    <td>2</td>
                    <td>2</td>
                    <td>140</td>
                </tr>

                <tr>
                    <td>История философии </td>
                    <td id="d7">{{ form.d7 }}</td>
                    <td>{{ form.d7 }}</td>
                    <td id="d7_res"></td>
                </tr>

                <tr>
                    <td>Математика и информатика</td>
                    <td>Сложные математические задачи</td>
                    <td id="d8">{{ form.d8 }}</td>
                    <td>{{ form.d8 }}</td>
                    <td id="d8_res"></td>
                </tr>
    
                <tr><td colspan="8" class="table-warning"><strong>Блок 3: внеурочная деятельность (выбрать не более 10 часов в неделю)</strong></td></tr>
    
                <tr class="table-danger"><td colspan="2">Всего часов внеурочной деятельности</td><td>10</td><td>10</td><td colspan="4"></td></tr>
    
                <tr class="table-danger"><td colspan="2">Количество часов по учебному плану (включая внеурочную деятельность)</td><td>{{ all1|add:10 }}</td><td>{{ all1|add:9 }}</td><td colspan="4"></td></tr>
            </tbody>
        </table>
    
        <small>* Предметы "Астрономия", "Основы безопасности жизнедеятельности", "Индивидуальный проект"  преподаются с использованием дистанционных форм обучения, обеспечены консультационными часами и не являются аудиторной нагрузкой.</small>
    </div>
    
    <article>
        <p class="text-center">С учебным планом ознакомлен, с условиями его выполнения согласен</p>
        <table>
            <tr><td>Обучающийся</td><td>_________________/_________________/</td><td>"_____"__________20____г.</td></tr>
            <tr><td rowspan="2">Родители (законные представители)</td><td>_________________/_________________/</td><td>"_____"__________20____г.</td></tr>
            <tr><td>_________________/_________________/</td><td>"_____"__________20____г.</td></tr>
        </table>
    </article>
</div>

<script src="{% static 'core/js/result.js' %}"></script>
{% endblock %}
